<!doctype html>
<html>
   <body>
      <h2 style = "text-align: center;">Contact Form</h2>
		
      {% for message in form.username.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      {% for message in form.dept.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      <form action = "http://localhost:5000/checkCopi" method = post>
         <fieldset>
            <legend>Contact Form</legend>
            {{ form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.username.label }}<br>
               {{ form.username }}
               <br>
               
               
               {{ form.dept.label }}<br>
               {{ form.dept }}
               <br>
               
               {{ form.submit }}
            </div>
            
         </fieldset>
      </form>
   </body>
</html>