<html>
    <body>
        <form action = "http://127.0.0.1:5000/profile/raise_req" method = "post">
            <p> Enter the project Id: </p>
            <p> <input type = "text" name="pid"/> </p>
            <p>Enter the type:</p>
            <p> <input type = "text" name="type" /> </p>
            <p>Enter the no. of months:</p>
            <p> <input type = "text" name = "nom" /> </p>
            <p>Agency:</p>
            <p> <input type = "text" name = "agency" /> </p>
            <p>Comment Text:</p>
            <p> <input type = "text" name = "ctext" /> </p>
            <p> <input type = "submit" value = "submit" /> </p>
        </form>
    </body>
</html>